<%- include('../layout/header.ejs') %>
    <div class="container">
        <h3 class="text-center">
            <!-- 文章标题 -->
            <%= result.title %>
                <!-- 判断用户是否登录，并且用户ID和作者ID相同则显示编辑按钮 -->
                <% if(isLogin&&user.id==result.authorId){ %>
                    <!-- 链接跳转的地址,将数据库中文章的Id传入 -->
                    <a href="/article/edit/<%= result.id %>" class="btn btn-info pull-right">编辑</a>
                    <% } %>
        </h3>
        <hr>
        <div>
            <!-- 文章内容，如果想要内容被解析，需要用-而不是= -->
            <%- result.content %>
        </div>
    </div>
    <%- include('../layout/footer.ejs') %>